{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} WORK DETAILS {% endblock %}</h1>

    <table class="table table-hover">
        <thead>

        </thead>
        <tbody>
        <tr>
            <th scope="row">DEVELOPER</th>
            <td><a href="https://www.linkedin.com/in/inderpreet-singh-a32816169/">INDERPREET SINGH</a></td>
        </tr>
        <tr>
            <th scope="row">EMAIL ID</th>
            <td><a href="mailto:inderpreet221099@gmail.com">inderpreet221099@gmail.com</a></td>
        </tr>
        <tr>
            <th scope="row">CATEGORIES</th>
            <td>45 CATEGORIES FOUND</td>
        </tr>
        <tr>
            <th scope="row">APIs</th>
            <td>525 APIs FOUND AND CRAWLED</td>
        </tr>
        <tr>
            <th scope="row">LANGUAGE USED</th>
            <td>PYTHON(FOR CRAWLING) AND FLASK FRAMEWORK (FOR WEB PORTAL)</td>
        </tr>

        <tr>
            <th scope="row">DATABASE</th>
            <td>RELATIONAL DATABASE - SQL (SQLITE)</td>
        </tr>

    </tbody>
    </table>
    
{% endblock %}